rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /cities/{document=**} {
      allow read, write: if false;
    }
    match /channels/{channelId} {
      allow read: if true;
    }
    match /channels/{channelId}/queue/{itemId} {
      allow read: if true;
    }
  }
}