@import '../../shared-variables.json';
@import './colors';

// Typography
$default-font-family: 'Raleway', sans-serif;
$title-font-family: 'Zilla Slab', serif;

// Spacing
$spacing-1: rem(4px);
$spacing-2: rem(8px);
$spacing-3: rem(12px);
$spacing-4: rem(16px);
$spacing-5: rem(24px);
$spacing-6: rem(32px);
$spacing-7: rem(48px);
$spacing-8: rem(64px);
$spacing-9: rem(96px);
$spacing-10: rem(126px);

// FontSize
$font-size-1: rem(12px);
$font-size-2: rem(14px);
$font-size-3: rem(16px);
$font-size-4: rem(18px);
$font-size-5: rem(20px);
$font-size-6: rem(24px);
$font-size-7: rem(30px);
$font-size-8: rem(36px);
$font-size-9: rem(48px);
$font-size-10: rem(60px);

// Shadow
$shadow-1: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
$shadow-2: 0 3px 6px rgba(0, 0, 0, 0.15), 0 2px 4px rgba(0, 0, 0, 0.12);
$shadow-3: 0 10px 20px rgba(0, 0, 0, 0.15), 0 3px 6px rgba(0, 0, 0, 0.1);
$shadow-4: 0 15px 25px rgba(0, 0, 0, 0.15), 0 5px 10px rgba(0, 0, 0, 0.05);
$shadow-5: 0 20px 40px rgba(0, 0, 0, 0.2);
$inner-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.2);

$header-height: $spacing-8;
$header-height-small: $spacing-2;
