$error-color: red;

$primary: rebeccapurple;
$secondary: orange;

$twitch-light-bg-color: #fff;
$twitch-dark-bg-color: #201c2b;
$twitch-light-accent-bg-color: #6441a4;
$twitch-light-accent-bg-color: #6441a4;

$twitch-light-text-color: #232127;
$twitch-dark-text-color: #e5e3e8;
$twitch-light-link-color: #6441a4;
$twitch-dark-link-color: #e2dbf0;
$twitch-light-text-overlay-color: #e5e3e8;
$twitch-dark-text-overlay-color: #e5e3e8;

// Spaces
$xs-space: 0.25rem;
$s-space: 0.5rem;
$m-space: 0.75rem;
$l-space: 1rem;
$xl-space: 1.5rem;

// Image width
$small-image-size: rem(50px);
$medium-image-size: rem(80px);
